[Unit]
Description=Simple NTP Daemon Socket
Documentation=man:simple-ntpd(8)
PartOf=simple-ntpd.service
Before=simple-ntpd.service

[Socket]
ListenDatagram=0.0.0.0:123
ListenDatagram=[::]:123
BindIPv6Only=both
Backlog=128
MaxConnections=1000
ReceiveBuffer=65536
SendBuffer=65536
PassCredentials=false
PassSecurity=false
SocketUser=ntp
SocketGroup=ntp
SocketMode=0644
ReusePort=true
FreeBind=true
BindToDevice=

[Install]
WantedBy=sockets.target
Also=simple-ntpd.service
